{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 

	<h1><center> ÁVILA CAMACHO <p>&nbsp;</p> </center></h1>
	<a href="http://edomex.gob.mx/"><img src="../static/img/logoedomex.png"  align= "left" width="200" height="200"></a>
	<a href="http://edomexinforma.com/"><img src="../static/img/eldomexinfo.png"  align="right" width="200" height="100"></a>
{% endblock %}
{% block contenido %}
  <p><CENTER>
      <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	     <p>&nbsp;</p>
	   
	  	
	  Actualmente tenemos registradas: 
     {% with total=recetas.count %} 
		{{total}} NOTICIAS{{total|pluralize}}
	 {% endwith %}
  </p></CENTER>
  <CENTER>
	<ul>		
	  {% for dato in recetas %}
	  <li class="{% cycle 'impar' 'par' %}">{{dato.titulo|title}}</li>
	  {% empty %}
	  <li> No hay noticias registradas aún </li>
	  {% endfor %}
	</ul></CENTER>
	<P>
	<p><em>

	<p> Ávila CAmacho: Se decretó su fundación el 27 de noviembre de 1944; debe su nombre al Gral. Manuel Ávila Camacho. 


	<p> La localidad de General Manuel Ávila Camacho está situado en el Municipio de Ixtapaluca (en el Estado de México). Hay 2855 habitantes. General Manuel Ávila Camacho está a 2900 metros de altitud.

 
	<p> En la localidad hay 1427 hombres y 1428 mujeres. La relación mujeres/hombres es de 1,001. El ratio de fecundidad de la población femenina es de 2.85 hijos por mujer. El porcentaje de analfabetismo entre los adultos es del 6,23% (4,84% en los hombres y 7,63% en las mujeres) y el grado de escolaridad es de 6.54 (6.80 en hombres y 6.29 en mujeres).



	<p> En General Manuel Ávila Camacho el 0,42% de los adultos habla alguna lengua indígena. En la localidad se encuentran 624 viviendas, de las cuales el 1,23% disponen de una computadora.


	

		<img src=../static/img/avila.png wisth= 200 height=180 border=0>

		

	</em>/p>

		<img src=../static/img/riofrio.png wisth= 200 height=180 border=0>

        <center><table border="2px" >
            <caption><p><center><span style="font-size:25px;"><strong>LOS CAMPEONES SON:</strong></span></center></p></caption>
            <tr>
            	<td><div> 1 </div>
            		<div> 2 </div>
            		<div> 3 </div>
            		<div> 4 </div>
            		<div> 5 </div>
            		<div> 6 </div>
            		<div> 7 </div>
            		<div> 8 </div>
            		<div> 9 </div>
            		<div> 10 </div>
            		<div> 11 </div>
            		<div> 12 </div>
            			
            	</td>
                <td colspan="2"><div><a href="http://www.conmebol.com/es/copa-america-2015/historia"> 1916/17 Uruguay</a></div>
								<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1919 Brasil</a></div>
								<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1920 Uruguay</a></div>
								<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1921 Argentina</a></div>
								<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1922 Brasil</a></div>
								<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1923/24 Uruguay</a></div>
								<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1925 Argentina</a></div>
								<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1926 Uruguay</a></div>
								<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1927/29 Argentina</a></div>
								<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1935 Uruguay</a></div>
								<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1937 Argentina</a></div>
								<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1939 Perú</a></div>

            	<td><div> 13 </div>
            		<div> 14 </div>
            		<div> 15 </div>
            		<div> 16 </div>
            		<div> 17 </div>
            		<div> 18 </div>
            		<div> 19 </div>
            		<div> 20 </div>
            		<div> 21 </div>
            		<div> 22 </div>
            		<div> 23 </div>
            		<div> 24 </div>
            			
            	</td>
</td>
                <td><div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1941 Argentina</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1942 Uruguay</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1945/46/47 Argentina</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1949 Brasil</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1953 Paraguay</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1955 Argentina</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1956 Uruguay</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1957/59 Argentina</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1963 Bolivia</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1967 Uruguay</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1975 Perú</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1979 Paraguay</a></div>
				<td><div> 25 </div>
            		<div> 26 </div>
            		<div> 27 </div>
            		<div> 28 </div>
            		<div> 29 </div>
            		<div> 30 </div>
            		<div> 31 </div>
            		<div> 32 </div>
            		<div> 33 </div>
            		<div> 34 </div>
            		<div> 35 </div>
            		<div> 36 </div>
            			
            	</td>
</td>
                <td><div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1983/87 Uruguay</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1989 Brasil</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1991/93 Argentina</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1995 Uruguay</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1997 Brasil</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">1999 Brasil</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">2001 Colombia</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">2004/07 Brasil</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">2011 Uruguay</a></div>
					<div><a href="http://www.conmebol.com/es/copa-america-2015/historia">2015 Chile</a></div>
					<div><a href="http://www.conmebol.com/copa-america-centenario">?</a></div>
					<div><a>     .</a></div>
					</div>
</td>
            </tr>
         
        </table></center>


  

{% endblock %}

	
        