{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 
<p>&nbsp;</p>

	<h1><center><em>IXTAPALUCA</em> <p>&nbsp;</p> </center></h1>
	<a href="http://edomex.gob.mx/"><img src="../static/img/logoedomex.png"  align= "left" width="200" height="200"></a>
	<a href="http://edomexinforma.com/"><img src="../static/img/eldomexinfo.png"  align="right" width="200" height="100"></a>
{% endblock %}
{% block contenido %}
  
	<P>
	<P>
	<CENTER><a  href="https://ixtapaluca.gob.mx/" ><img src=../static/img/logoixtapaluca.png wisth=178 height=180 border=0></center></a>
	<center> <p><em>“IXTAPALUCA”</em>El nombre propio mexicano es <em>Iztapayucan</em> que se compone de iztatl: sal, pallutl o pallotl: mojadura y de can: lugar; que en conjunto significa: <em>€ "Lugar donde se moja la sal" € </em></p></center>
	 <p>&nbsp;</p>

<p><center><span style="font-size:25px;"><strong> IXTAPALUCA</strong></span></center></p>
<div style=" margin-bottom:0px;text-align: left;" class="mk-text-block  "><p style="text-align: justify;"><span style="color: #000000;"><strong></strong></span></p>

<p style="text-align: justify;"><span style="color: #000000;">Como todo pueblo de origen prehispánico, su nombre proviene del idioma náhuatl, se forma de IZTATL: sal, PALLOTL o PALLUTL: mojadura y CAN: lugar; lo que se traduce como “Lugar donde se moja la sal”, está conformado por otras localidades como:</span></p>


 <table border="2px" >
            <caption><p><center><span style="font-size:25px;"><strong>           </strong></span></center></p></caption>
            
            	
            			
            	             <tr><td colspan="2"><div><a> <p style="text-align: justify;"><span style="color: #000000;"><strong>TLAPACOYA: </strong>“Lugar donde se lava”</span></p></a></div></td><tr>
								<tr><td><div><a> <p style="text-align: justify;"><span style="color: #000000;"><strong>TLALPIZÁHUAC:</strong> “Angostura”</span></p> </a></div></tr></td>
								<tr><td><div><a><p style="text-align: justify;"><span style="color: #000000;"><strong>ACUAUTLA:</strong> “Bosque en el agua o junto al agua”</span></p></a></div></tr></td>
								<tr><td><div><a><p style="text-align: justify;"><span style="color: #000000;"><strong>COATEPEC:</strong> “Cerro de las serpientes”</span></p></a></div></tr></td>
								<tr><td><div><a><p style="text-align: justify;"><span style="color: #000000;"><strong>AYOTLA:</strong> “Lugar donde abundan las tortugas”</span></p></a></div></tr></td>
								<tr><td><div><a><p style="text-align: justify;"><span style="color: #000000;"><strong>ÁVILA CAMACHO:</strong> Se decretó su fundación el 27 de noviembre de 1944; debe su nombre al Gral. Manuel Ávila Camacho</span></p></a></div></P></span></a></div></tr><td>
								<tr><td><div><a><p style="text-align: justify;"><span style="color: #000000;"><strong>RÍO FRÍO:</strong> El nombre lo eligió el Lic. Benito Juárez en un viaje a Puebla, se detuvo en este lugar a lavarse las manos, como estaba muy fría el agua comentó que “debía llamarse Río Frío”, los habitantes <p>le pusieron el nombre agregándole posteriormente el “de Juárez”, Río Frío de Juárez.</span></p></a></div></p></p></span></a></div></tr></td>
					
               
        </table>


<p style="text-align: justify;"><span style="color: #000000;"><strong>JEROGLÍFICO</strong></span></p><br />
<p style="text-align: justify;"><span style="color: #000000;">El jeroglífico del municipio aparece sobre un campo blanco, un toponimio cuyos contornos son de color negro mismo que tiene en la parte superior; una figura ovalada en los extremos; conteniendo en esta y en el centro de la forma principal triángulos específicamente dispuestos, que simulan granos de sal.</span></p>
<p style="text-align: center;"><span style="color: #000000;"><strong>  &#8220;LUGAR DONDE SE MOJA LA SAL&#8221;</strong></span></p>
<div class="clearboth"></div></div> <br />
<div style=" margin-bottom:0px;text-align: left;" class="mk-text-block  "><p style="text-align: justify;"><span style="color: #000000;"><strong>LOCALIZACIÓN GEOGRÁFICA</strong></span></p>
<p style="text-align: justify;"><span style="color: #000000;">El Municipio de Ixtapaluca se encuentra ubicado en la parte centro sur de la cuenca de México, fisiográficamente está localizado en el eje neovolcánico, en la zona oriente del Estado de México, dista a 7.5 Km. De Chalco, 32 Km. A la capital de la República y 110 Km. a la ciudad de Toluca.</span></p>
<p style="text-align: justify;"><span style="color: #000000;">Limita al norte con Chicoloapan y Texcoco, al sur con Chalco, al este con el Estado de Puebla al oeste con Chicoloapan y los Reyes la Paz.</span></p>
<p style="text-align: justify;"><span style="color: #000000;">Su extensión territorial es de 315.44 km2 de superficie.</span></p>


</span></h2><div class="clearboth"></div>
	</div>
	<div style="" class="vc_col-sm-4 wpb_column column_container vc_custom_1424211544162 ">
				<div style=" margin-bottom:0px;text-align: left;" class="mk-text-block  "><div align="center"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60243.00943091353!2d-98.90972335!3d19.31764285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce1e468ef907ab%3A0xb2adee1166eb1bde!2sIxtapaluca%2C+M%C3%A9x.!5e0!3m2!1sen!2smx!4v1423793952134" width="360" height="270" frameborder="0"></iframe></div>
<div class="clearboth"></div></div> 
	</div></div>	<div style=" margin-bottom:0px;text-align: left;" class="mk-text-block  "><div data-initialIndex="0" id="mk-accordion-576f12387616f" class="mk-accordion mk-shortcode accordion-action fancy-style ">
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><strong>DIVISION POLITICA</strong></span></p></div>
				<div class="mk-accordion-pane">
				<p>&nbsp&nbsp&nbsp&nbsp&nbspEl Municipio cuenta con las siguientes localidades:</p>
<p>&nbsp&nbsp&nbsp&nbsp&nbspUna cabecera municipal cuyo nombre es Ixtapaluca.</p>
<p><strong> &nbsp&nbsp&nbsp&nbsp&nbsp ►8 DELEGACIONES:</strong><br /><br />
 &nbsp&nbsp&nbsp&nbsp&nbsp Tlalpizahuac, Ayotla, Tlapacoya, San Francisco Acuautla, Coatepec, Gral. Ávila Camacho, Río Frío y Cerro del Tejolote.</p>
<p><strong> &nbsp&nbsp&nbsp&nbsp&nbsp ►17 SUBDELEGACIONES:</strong><br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp Plutarco Elías Calles, Tlayehuale, Jorge Jiménez Cantú, Rincón del Bosque, Ampliación Emiliano Zapata, Loma Bonita, Fraccionamiento José de La Mora, Fraccionamiento Izcalli, Santa Cruz, Valle Verde, Alfredo del Mazo, El Molino, Llano Grande, Citlalmina y Ampliación Santa Cruz.</p>
<p><strong> &nbsp&nbsp&nbsp&nbsp&nbsp ►35 COLONIAS:</strong><br /><br />
 &nbsp&nbsp&nbsp&nbsp&nbsp La Era, La Venta, Santa Bárbara, Hornos Santa Bárbara, La Magdalena, Zoquiapan, Ampliación Zoquiapan, Hornos San Juan, Margarita Morán, Cerro de Moctezuma, Estado de México, San Antonio, Luis Donaldo Colosio, Tlakaelel, Ilhuicamina, Santa Cruz, La Retama, F. Álvarez, Santo Tomás, Ampliación Loma Bonita, Rigoberta Menchú,  20 de Noviembre, El Capulín, El Mirador, Escalerillas, Melchor Ocampo, Ampliación San Francisco, Ampliación Tejalpa, Juan  Antonio Soberanes, Pueblo Nuevo, Rancho Verde 1, Rancho Verde 2, Wenceslao Labra, Teponaxtle, Subestación eléctrica.</p>
<p><strong> &nbsp&nbsp&nbsp&nbsp&nbsp ►FRACCIONAMIENTOS Y UNIDADES HABITACIONALES:</strong><br /><br />
 &nbsp&nbsp&nbsp&nbsp&nbsp Rancho Guadalupe, Vergel de Guadalupe, Residencial Ayotla, Geovillas de Ayotla, Caserío, San José de la Palma, San Jerónimo 4 vientos, Los Héroes, San Buenaventura, Geovillas de San Jacinto, Geovillas Jesús María, Geovillas Santa Bárbara, Arboladas, Lomas de Ayotla.</p>

				<div class="clearboth"></div></div></div><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>ALTURA SOBRE EL NIVEL DEL MAR</strong></span></div>
				<div class="mk-accordion-pane">
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp La altitud sobre el nivel del mar de los terrenos municipales va de los 2000 a los 3900 m.s.n.m., la cabecera municipal tiene una altura de 2900 m.s.n.m.</p>

				<div class="clearboth"></div></div></div><br /><br /><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>CARTOGRAFIA</strong></span></div>
				<div class="mk-accordion-pane"A
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp La cadena montañosa más extensa se localiza en la parte noroeste del municipio; en ella se encuentran los cerros Tlaloc, La Sabanilla, Cuescomate, Cabeza de Toro, Yelozochitl, Telapon y los Potreros; en el noroeste Cuetlapanca, Tejolote Grande, Tejolote Chico, Santa Cruz y El Pino. En los limites con Tlalmanalco se localizan los Cerros Papagayo y San Francisco, en el sureste el Cerro del Elefante.</p>

				<div class="clearboth"></div></div></div><br /><br /><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>HIDROGAFIA</strong></span></div>
				<div class="mk-accordion-pane">
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp La cuenca hidrológica del Municipio de Ixtapaluca, tiene sus orígenes en la zona montañosa del noroeste, y esta formada por el arroyo Texcalhuey que viene de la parte norte, el Texcoco, que confluye con el de las Jícaras y se origina en los cerros Yeloxochitl y Capulín; el de la cruz que se forma en el cerro de la sabanilla y llega al arroyo San Francisco, pasa por Ixtapaluca y desemboca en el río de la compañía que cruza por el cerro del elefante; los arroyos, Capulín, Texcalhuey y las Jícaras, atraviesan por San Francisco Acuautla, entre los arroyos que vienen del cerro de los Potreros se encuentra uno que no tiene nombre; pasa por Ávila Camacho, confluye con el Arroyo San Francisco y Santo Domingo, se desvía hacia Chalco.</p>

				<div class="clearboth"></div></div></div><br /><br /><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>CLIMA</strong></span></div>
				<div class="mk-accordion-pane">
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp El clima del municipio es templado subhúmedo, la temperatura media anual es de 11.1°C.</p>
<div id="wpc-weather-id-579" class="wpc-weather-id" data_id="579" data_map="" data_detect_geolocation="" data_manual_geolocation="" data_wpc_lat="" data_wpc_lon="" data_wpc_city_id="" data_wpc_city_name="" data_custom_font=""></div>

				<div class="clearboth"></div></div></div><br /><br /><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>FLORA Y FAUNA</strong></span></div>
				<div class="mk-accordion-pane">
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp Es importante recorrer el campo en la mañanita cuando empiezan a asomar los primeros rayos del sol, sentir el rocío  rozarte con las plantas silvestres, que inmediatamente desprenden un olor agradable; llenando de vida tus pulmones con su aroma y perfume, ver revolotear a las aves, observar sus rituales al levantarse y acostarse, las reverencias  que hace la parvada; dándole gracias a dios con sus trinos por dejarlos vivir un día mas. Admirar la belleza y colorido de las mariposas, abejorros, libélulas, lagartijas que van y vienen por toda la campiña, escuchar el concierto de renacuajos después de la lluvia, es algo que solo los seres privilegiados podemos escuchar.</p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp El Municipio se engalana además con plantas de ornato, bugambilias, tulipanes, palmas, etc.</p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp Árboles frutales como: Pera, Chabacano, Capulín, Durazno, etc.</p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp Hierbas medicinales como: Yerbabuena, Santamaría, Ruda, y otras mas.</p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp Dentro de la fauna silvestre tenemos: Tlacuache, Hurón, Cacomiztle, Búho, Lechuza, Víboras.</p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp Domésticos: Vacas, Gallinas, Patos, Borregos, Caballos, Cabras, Codorniz y Avestruz.</p>

				<div class="clearboth"></div></div></div><br /><br /><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>VIAS DE ACCESO E INTERCOMUNICACION</strong></span></div>
				<div class="mk-accordion-pane">
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp El Municipio de Ixtapaluca, está situado entre las carreteras Nacionales de México – Puebla y México – Cuautla; las cuales pasan dentro de su territorio y se bifurcan ambas rectas enfrente del centro comercial Aurrera</p>

				<div class="clearboth"></div></div></div><br /><br /><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>GEOLOGIA</strong></span></div>
				<div class="mk-accordion-pane">
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp Geológicamente hablando los terrenos del municipio, están compuestos de rocas ígneas como la riolita, andesita, basalto, toba andesítita, toba basáltica, brecha volcánica basáltica, rocas sedimentarias; entre las que se encuentran, brecha sedimentaria, suelos de aluvión y bancos de materiales a punto de verificación.</p>

				<div class="clearboth"></div></div></div><br /><br /><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>BREVE DIAGRONIA</strong></span></div>
				<div class="mk-accordion-pane">
				<p>&nbsp&nbsp&nbsp&nbsp&nbspLos primeros asentamientos en territorio de este municipio se registran entre los años 1,100 a.c. y 100 d.c., estuvo sujeto al señorío de Texcoco.</p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp1570, durante la colonia, fué encomienda de Juan de Cuellar, el corregimiento comprendía Coatepec, Chimalhuacán y Chicoloapan, limitado al sur por Atlipac, Acuautla e Ixtapaluca; hasta fines del periodo colonial se conservaron intactos.</p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp1592, El pueblo de Ixtapaluca pidió la protección del alcalde mayor, para que los protegiera de los españoles que querían adueñarse de las tierras.</p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp1861, Dos eran los principales caminos que tenia Ixtapaluca, el primero es el Nacional de México a Veracruz, que atraviesa el pueblo y el otro que va a Texcoco, ambos se conservan medianamente atendidos.</p>

				<div class="clearboth"></div></div></div><br /><br /><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>EL MUNICIPIO ATRAVEZ DEL TIEMPO</strong></span></div>
				<div class="mk-accordion-pane">
				<p><strong> &nbsp&nbsp&nbsp&nbsp&nbspA) Prehistoria.</strong></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Durante el Pleistoceno, en Tlapacoya se encontraron los restos humanos, animales y vegetales más antiguos de la Cuenca de México, otros testimonios prehistóricos son: las pinturas rupestres del cerro del Elefante, la cueva Burrera de Tlalpizahuac, la piedra letreada de las minas de arena la Rosita de Ixtapaluca, y el craneo hallado en Tlapacoya.</p>
<p><strong>&nbsp&nbsp&nbsp&nbsp&nbspB)  Fundación y primeros pobladores.</strong></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Se desconoce el lugar de procedencia de los primeros hombres que llegaron a Ixtapaluca, los primeros asentamientos humanos se registran entre los años 1100 a.c y 100 d.c; cuando Xólotl inicia su reinado en tenayuca, Techotlala uno de sus hijos funda Texcoco; este tuvo un hijo llamado Ixtlixóchitl, a quien donó 11 pueblos entre ellos Ixtapaluca y Coatepec. Su señor fué Izcotzin y su gobernador Cuahuitzilotzin.</p>
<p><strong>&nbsp&nbsp&nbsp&nbsp&nbspC) Época Prehispánica.</strong></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Ixtapaluca y Coatepec, situados al oriente de la cuenca de México, tributaban al señorío de Texcoco.</p>
<p><strong>&nbsp&nbsp&nbsp&nbsp&nbspD) Dominación Española.</strong></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Hasta 1570 el corregimiento comprendía Coatepec, Chimalhuacán, Atenco y Chicoloapan, Acuautla e Ixtapaluca. Los gobernadores Indígenas apoyaron la congregación para fortalecer el control sobre sus comunidades. La primera congregación se realizó en Coatepec en 1593. En el año 1668 un examen de tierras registró la sede de 13 pueblos anteriores, todos abandonados en la congregación en 1603 en Ixtapaluca y nunca vueltos a ocupar. Los primeros religiosos llegaron a la región en 1527, pertenecían a la orden Seráfica.</p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp En 1531, fué fundada la parroquia de Ixtapaluca; el templo parroquial de Coatepec se construyó en 1775.</p>
<p><strong>&nbsp&nbsp&nbsp&nbsp&nbspE) Época Independiente.</strong></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp La situación geográfica del municipio limitó su participación en el movimiento de Independencia, sin embargo hubo un levantamiento en Ayotla por su alcalde El Indio Apolinar, quien fué acusado por Francisco de la Maza, su caso pasó al ramo criminal sentenciándolo el 22 de Julio de 1811 a reclusión y servicio por 2 meses en la zanja cuadrada de México quedando trunco cualquier otro intento de libertad.</p>
<p><strong>&nbsp&nbsp&nbsp&nbsp&nbspF) Reforma.</strong></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp El 8 de Junio los archiduques, Maximiliano y Carlota visitaron Cholula dirigiéndose después a la hacienda de Zoquiapan donde Iñigo Noriega les obsequió con un almuerzo mientras en la ciudad se llevaba a cabo el arreglo de calles y paseos para recibirlos en la capital.<br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Cuando Modesto de Olaguibel fué Gobernador del Estado de México, se suscitó la intervención Norteamericana cuyas tropas se introdujeron al Estado de México en 1847, pasaron por Ixtapaluca rodeando el Lago de Chalco, de ahí, se dirigieron a Tlalpan, pués pensaban atacar Churubusco.</p>
<p><strong>&nbsp&nbsp&nbsp&nbsp&nbspG) Porfiriato.</strong></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Durante el gobierno de Porfirio Díaz, los productos de las haciendas de Ixtapaluca se comercializaban en la ciudad de México, esas mercancías se conducían por el lago de Chalco utilizando los embarcaderos, que de acuerdo con un plano de Peñafiel, de 1884, se localizaban en Ixtapaluca y la hacienda de Acozac, la importancia que tuvieron las haciendas en el municipio durante el Porfiriato; se debió a la gran producción de maíz, frijol, haba, alfalfa, calabaza y maguey.</p>
<p><strong>&nbsp&nbsp&nbsp&nbsp&nbspH) Revolución.</strong></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Durante la Revolución, Emiliano Zapata llega a San Francisco Acuautla en 1914, con la intención de repartir el maíz almacenado en la troje de la hacienda del Carmen, la semilla se repartió entre los habitantes mas necesitados, tiempo después incendió la hacienda de San Francisco.</p>
<p><strong>&nbsp&nbsp&nbsp&nbsp&nbspI) Época Contemporánea.</strong></p>
<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Después de la revolución, Ixtapaluca quedó abandonada, después de 5 años y una vez calmados los ánimos sus habitantes regresaron a poblarla; la construcción de la carretera federal en 1924, hizo que el municipio progresara. En 1930 se inició la industrialización con la instalación de la fábrica de yeso “El tigre”, en 1947 fue puesta en servicio, en 1935 inicia la fábrica de refrescos “El número 1”, en 1967 se introdujo la red telefónica del municipio, en 1973 se entregaron al municipio los planos y proyectos del nuevo palacio municipal.</p>

				<div class="clearboth"></div></div></div><br /><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>ERUCCION MUNICIPAL</strong></span></div>
				<div class="mk-accordion-pane">
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp En el año de 1820, el 5 de Diciembre, Ixtapaluca fue elevado al rango de Municipio; con las delegaciones Coatepec, San Francisco Acuautla, Tlapacoya y Tlalpizahuac.</p>

				<div class="clearboth"></div></div></div><br /><br /><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>VISION ACTUAL DEL MUNICIPIO</strong></span></div>
				<div class="mk-accordion-pane">
				<ul>
<ul>
<br />
<li><strong>&nbsp&nbsp&nbsp&nbsp&nbsp►DEMOGRAFÍA.</strong><br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp La falta de fuentes de trabajo, hace que los habitantes del municipio emigren al vecino país del norte, pero los que han llegado, es mayor la cantidad, rebasamos el millón de habitantes, con muchas necesidades y falta de servicios.</li>
<li><strong>&nbsp&nbsp&nbsp&nbsp&nbsp►POBLACIÓN.</strong><br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp En 1990 el municipio contaba con 117, 927 habitantes; en 1995 con 187, 690 habitantes; en el año 2000 con 293, 160 habitantes, de estos 144, 158 son hombres; 149, 002 mujeres, 49% hombres y 51% mujeres.</li>
<li><strong>&nbsp&nbsp&nbsp&nbsp&nbsp►INDICE DE NATALIDAD.</strong><br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Infantes 1990 – 10 200<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Infantes 2000 – 28 000</li>
<li><strong>&nbsp&nbsp&nbsp&nbsp&nbsp►INDICE DE MORTALIDAD.</strong><br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Total de defunciones en el periodo 1900 a 2000 – 4500Promedio anual de defunciones 37.50%</li>
<li><strong>&nbsp&nbsp&nbsp&nbsp&nbsp►ANALFABETISMO.</strong><br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Según los resultados del plan de desarrollo municipal de Ixtapaluca 1997 – 2000, el 92.7% asiste a la escuela y el 7.3% no lo hace; sin embargo aunque los promedios del municipio son satisfactorios en su interior existen zonas en las que aún existen necesidades insatisfechas en este renglón.</li>
<li><strong>&nbsp&nbsp&nbsp&nbsp&nbsp►INMIGRACION.</strong><br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Por la situación geográfica, Ixtapaluca es un municipio atractivo para los fraccionadores, de esta manera llegaron a la población cantidad de inmigrantes del D.F y Estados de la República.</li>
<li><strong>&nbsp&nbsp&nbsp&nbsp&nbsp►MIGRACIÓN.</strong><br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp La falta de fuentes de trabajo en el municipio de Ixtapaluca, hace que sus habitantes, emigren al vecino país del norte en busca de mejores condiciones de vida.</li>
</ul>
</ul>
<br />
<br />

				<div class="clearboth"></div></div></div><br /><br /><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>GOBIERNO ACTUAL</strong></span></div>
				<div class="mk-accordion-pane">
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp El ayuntamiento municipal de Ixtapaluca que gobierna en el trienio 2013 – 2015, está constituido, por un presidente, un síndico procurador y 13 regidores; cada uno con sus comisiones que les otorga la ley orgánica municipal y el cabildo.<span style="line-height: 1.5;"></p>

				<div class="clearboth"></div></div></div></span><br /><br /><br /><br />
				<div class="mk-accordion-single"><div class="mk-accordion-tab"><span><strong>INTEGRACION</strong></span></div>
				<div class="mk-accordion-pane">
				<p>El partido que obtuvo la mayoría es el Partido Revolucionario Institucional (P.R.I), obteniendo por esa razón la presidencia, la sindicatura, 7 regidurías, las otras 6 son de representación proporcional de los otros partidos</p>


<p><CENTER>
      <p>&nbsp;</p>
	    <p>&nbsp;</p>
	  
	   
	  Actualmente tenemos registradas: 
     {% with total=recetas.count %} 
		{{total}} NOTICIAS 
	 {% endwith %}
  </p>
  </CENTER>
  <CENTER>
	<ul>		
	  {% for dato in recetas %}
	  <a class="{% cycle 'impar' 'par' %}">{{dato.titulo|title}}</a>
	  {% empty %}
	  No hay noticias registradas aún 
	  {% endfor %}
	</ul></CENTER>

  


{% endblock %}
