{% extends 'base.html' %}
{% block titulo %} Usuarios registrados {% endblock %}

{% block encabezado %}
  <h1><center>REPORTEROS <p>&nbsp;</p> </center></h1>
<a href="http://edomex.gob.mx/"><img src="../static/img/logoedomex.png"  align= "left" width="200" height="200"></a>
	<a href="http://edomexinforma.com/"><img src="../static/img/eldomexinfo.png"  align="right" width="200" height="100"></a>
{% endblock %}
{% block contenido %}
<p>&nbsp;</p> <p>&nbsp;</p> 
<CENTER><ul>
	{% for dato in usuarios %}
	<li>{{dato.username|capfirst}} - <em>{{dato.email}}</em>
		<ul>
			{% for item in recetas %}
				{% if item.usuario == dato %}
					<li>{{item}}</li>
				{% endif %}
			{% empty %}
				<li>Este usuario aún no ha registrado Noticias.</li>
			{% endfor %}
		</ul>
	</li>
	{% empty %}
	<li>No hay usuarios registrados, aún.</li>
	{% endfor %}
</ul>
</CENTER>
{% endblock %}
